<a href="https://colab.research.google.com/github/savira-chesta/Tugas-Preprocessing/blob/main/Tugas_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Memuat dataset yang berupa file csv ke pandas

import pandas as pd
df = pd.read_csv('movie_sample_dataset.csv')

# Melihat 5 baris pertama
print(df.head())

# Melihat informasi umum (tipe data, jumlah data, nilai yang hilang)
print(df.info())

In [ ]:
#Membersihkan data
#Menghapus baris dalam dataset yang memiliki nilai NaN pada kolom gross dan budget

df.dropna(subset=['gross', 'budget'], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(90)

dalam kolom gross dan budget terdapat baris yang tidak memiliki nilai, sehingga pada tahap ini, baris tersebut akan dihapus

In [ ]:
#Menghapus baris dengan nilai N/A
import numpy as np
df.replace("N/A", np.nan, inplace=True)
df.replace("Null", np.nan, inplace=True)
df.dropna(axis=0, inplace=True)
df.head(90)

pada tahap ini baris dan kolom pada data yang bernilai N/A akan diubah menjadi NaN untuk kemudian baris atau kolom tersebut dihapus dari dataframe

In [ ]:
#Mengubah baris dengan nilai negatif
df['duration'] = df['duration'].abs()
df['imdb_score'] = df['imdb_score'].abs()
df['color'] = df['color'].str.title()
df.head(30)

pada tahap ini kolom duration dan imdb_score terdapat baris yang memiliki nilai negatif dan akan diubah menjadi nilai positif, teks pada kolom color akan disamakan teksnya menjadi Color

In [ ]:
#Normalisasi teks
df['country'] = df['country'].str.upper()
df.head(10)

In [ ]:
df.to_csv("movie_dataset_cleaned.csv", index=False)